.st-block--handsontable {
}

.st-block--handsontable table p {
    margin: 0;
}

.st-block--handsontable table.htCore {
    th,
    td {
        background: none;
    }

    td.visualy-th {
        background: $light-ui-color;
    }

    td.visualy-thead,
    td.visualy-tfoot {
        border-color: $base-ui-color;
        border-top: 1px solid $base-ui-color;
    }
}

textarea.st-xls-field {
    min-height: $input-height * 10;
}

.handsontable-container {
    .ht_master {
        overflow: visible !important;
    }

    .wtHider,
    .wtHolder,
    .wtSpreader {
        width: auto!important;
        height: auto!important;
    }

    .wtHolder {
        overflow: visible !important;
    }

    table.htCore {
        width: 100% !important;

        table-layout: auto !important;
    }
}
