.st-block--handsontable {
}

.st-block--handsontable table p {
    margin: 0;
}

.st-block--handsontable table.htCore {
    th,
    td {
        background: none;
    }

    td.visualy-th {
        background: $light-ui-color;
    }

    td.visualy-thead,
    td.visualy-tfoot {
        border-color: $base-ui-color;
        border-top: 1px solid $base-ui-color;
    }
}
