.st-chart-area {
    display: block;
}

.st-chart__table {
    @include scroll-shadows-horizontal;

    overflow-x: auto;

    font-size: 0.875rem;

    th,
    td {
        padding: 0;
    }

    input,
    button {
        border: none;
    }

    button {
        width: 100%;
    }
}
