.st-block-positioner {
    @include ui-popup;

    margin-top: -0.6em;
    padding: 0.3em 0.5em;

    top: $ui-btn-pos-v;
    left: $ui-btn-pos-h + $ui-btn-size * 2;

    font-size: 1rem;
}

.st-block-positioner__select {
    display: block;
}

.st-block--with-errors,
.st-block--delete-active {
    & > .st-block__inner {
        & > .st-block__ui {
            .st-block-positioner {
                border-color: $error-color;
                &:after {
                    border-color: $error-color;
                }
            }
        }
    }
}
