.st-blocks {
    overflow: hidden;

    position: relative;
}

.st-block {
    display: flex;

    position: relative;

    align-items: center;

    &.st-chooseable--is-active {
        min-height: 70px;
    }
}

.st-block__inner {
    margin: 0 110px;
    margin-top: 1em;
    margin-bottom: 1em;

    position: relative;

    flex: 1;

    .st-block--textable & {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.st-block__inner--droppable {
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid $blocks-control-border-color;

    background: $blocks-control-bg-color;

    cursor: pointer;

    &:focus {
        outline: none;
        border-color: $accent-color;
    }
}

.st-block__inner {
    .st-block[data-type='quote'] & {
        margin-top: 2em;
        margin-right: 155px;
        margin-bottom: 2em;
        margin-left: 155px;
    }
}

.st-block--with-errors .st-block__inner,
.st-block--delete-active .st-block__inner {
    border-color: $error-color;
}

.st-block--with-plus:after,
.st-icon--add:after {
    z-index: 1;

    display: block;

    position: relative;
    bottom: 0;
}

.st--block-limit-reached .st-block-addition {
    display: none;
}

.st-icon--add:after {
    border-radius: 0.2em;
    padding: 0.3em 0;

    font-size: 1.875em;
    line-height: 0.9;
    text-align: center;
}

.st-block--with-plus:after {
    color: $accent-color;

    background: $blocks-control-bg-color;

    cursor: pointer;
}

.with-st-controls:after,
.with-st-controls:before {
    display: none;
}

.st-block.st-drag-over:after,
.st-block.st-drag-over:last-child:after,
.st-top-controls.st-drag-over:before {
    display: block;
    width: 100%;
    height: 3px;
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    background: transparent;
    background: $accent-color;
}

.st-drag-element {
    z-index: -1;

    width: 100%;

    position: absolute;

    background: #fff;
    box-shadow: 3px 3px $accent-color inset, -3px -3px $accent-color inset ;

    .st-block-addition {
        display: none;
    }
}

.st-block--dragging {
    background: #f6f7f9;
    & > * {
        opacity: 0;
    }
    & .st-block-addition {
        opacity: 1;
    }
}

.st-drag-over {
    & .st-block-addition {
        opacity: 0;
    }
}

.st-text-block {
    @include st-input;
    @include st-input-active;

    overflow: visible;

    font-size: $text-block-font-size;
    line-height: 1.45;
}

.st-text-block p {
    vertical-align: 14%;
}

.st-text-block--heading {
    overflow: visible;

    margin: 0.58em 0;
    min-height: 1em;

    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.45;
}

.st-text-block--heading p {
    margin: 0.5em 0;
}

.st-text-block--table {
    table {
        border-collapse: collapse;
    }

    td {
        border: 1px solid #ccc;
        padding: 10px;
    }
}

.st-text-block--quote {
    margin-bottom: 1.8em;

    font-size: 1.875em;
    line-height: 1.3;
}

ul.st-text-block {
    margin-left: 1.875em;
}

.st-list-block__list {
    margin: 0;
    padding-left: 1em;

    font-size: $text-block-font-size;
}

.st-list-block__editor {
    width: 100%;

    line-height: 1.8em;
}

.st-block__inputs {
    border-top: $border-size $border-style transparent;
    border-radius: 0.2em;
    padding: 1.6em 0 1em;
}

.st-block__dropzone .st-icon {
    display: block;
    margin: 0 auto 0.2em;

    color: $base-ui-color;
    font-size: 4em;
    text-align: center;
}

.st-block__dropzone p {
    margin: 0;

    color: $base-ui-color;
    font-size: 1.2em;
    text-align: center;
}

.st-block__dropzone p span {
    font-weight: 700;
}

.st-drag-over .st-block__inputs {
    border-top-color: darken($blocks-control-bg-color, 15%);
}

.st-block .st-block__paste-input[type='text'] {
    display: block;
    margin: 0.4em auto 0;
    width: 80%;

    text-align: center;
}

.st-upload-btn {
    z-index: 10;

    border: 0;
    border-radius: 0.2em;
    padding: 0.35em 1em;

    position: relative;

    color: #fff;
    font-size: 1.125em;

    background: $base-ui-color;

    cursor: pointer;
}

.st-block__upload-container:hover .st-upload-btn {
    color: #fff;

    background: $accent-color;
}

.st-block__editor--with-square-media {
    padding-top: 100%; /* 16:9 */
    width: 100%;
    height: 0;

    position: relative;
}

.st-block__editor--with-sixteen-by-nine-media {
    padding-top: 56.25%; /* 16:9 */
    width: 100%;
    height: 0;

    position: relative;
}

.st-block__editor--with-square-media video,
.st-block__editor--with-square-media iframe,
.st-block__editor--with-sixteen-by-nine-media video,
.st-block__editor--with-sixteen-by-nine-media iframe {
    width: 100%;
    height: 100%;

    position: absolute;top: 0;
    left: 0;
}

.st-block__editor img {
    width: 100%;
    height: auto;
}

.st-block__upload-container {
    margin: 0.4em 0 0 0;

    text-align: center;
}

.st-block__upload-container input[type='file'] {
    z-index: 50;
    opacity: 0;

    padding: 7px 0;
    width: 100%;

    position: absolute;
    left: 0;

    text-align: center;

    cursor: pointer;
}

.st-block__messages {
    display: none;
    border: $default-border;
    border-top: none;
    border-left: none;
    padding: 0.3em 0.5em;
    max-width: 80%;

    position: relative;
}

.st-block__messages--is-visible {
    display: block;
}

.st-block--with-errors .st-block__messages {
    border-color: $error-color;
}

.st-block__messages span {
    display: block;
}

.st-msg--error {
    color: $error-color;
}
