.st-block--illustated-image {
    &::after {
        display: block;
        content: '';

        clear: both;
    }

    .st-block-img {
        &.left {
            margin-right: 10px;

            float: left;
        }

        &.right {
            margin-left: 10px;

            float: right;
        }
    }

    .st-text-block {
        p {
            margin: 0;
        }
    }
}
