$ui-btn-size: 1em;
$ui-btn-pos-v: 0.5em;
$ui-btn-pos-h: 0.5em;

%st-block-ui-btn {
    @extend .st-icon;

    display: block;

    color: $block-controls-color;
    font-size: 1rem;

    cursor: pointer;
}

.st-block__control-ui {
    display: flex;

    background-color: lighten($light-ui-color, 10%);

    &.hidden {
        display: none;
    }
}

.st-block-ui__confirm {
    margin: 0 0.1em;
    border: 1px solid $error-color;
    padding: 0.15em 0.4em;

    color: $error-color;
    font-size: 0.9em;

    background: none;

    cursor: pointer;
}

.st-block-ui-btn__reorder {
    @extend %st-block-ui-btn;

    position: absolute;
    top: $ui-btn-pos-v;
    left: $ui-btn-pos-h;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.st-block-ui-btn__delete {
    @extend %st-block-ui-btn;

    position: absolute;
    top: $ui-btn-pos-v;
    right: $ui-btn-pos-h;

    &:hover,
    &:focus {
        color: $error-color;
    }

    .st-block--textable &,
    .st-block[data-type='list'] &,
    .st-block {
        display: none;
    }

    .st-block[data-type='quote'] & {
        display: block;
    }
}

.st-block-ui-btn__settings {
    @extend %st-block-ui-btn;

    position: absolute;
    top: $ui-btn-pos-v * 2 + $ui-btn-size * 2;
    right: $ui-btn-pos-h;
}

.st-block-control-ui-btn {
    @extend %st-block-ui-btn;

    margin: 0.25em;

    font-size: 2rem;
    line-height: 1;
}

.st-block--with-errors .st-block-control-ui-btn,
.st-block--delete-active .st-block-control-ui-btn {
    border-color: $error-color;

    color: $error-color;

    &:hover,
    &.active {
        color: #fff;

        background-color: $error-color;
    }
}

.st-block--with-errors {
    z-index: 2;
    opacity: 1;
}

.st-block__delete-label {
    color: $error-color;
}
