// Block Controls

.st-block-chooseable,
.st-block-controls {
    z-index: 1;

    position: absolute;
    top: 0;
    right: $block-spacing-horizontal;
    bottom: 0;
    left: $block-spacing-horizontal;

    font-size: 0.8em;

    background: rgba(0, 0, 0, 0.05);
}

.st-block-chooseable__buttons,
.st-block-controls__buttons {
    text-align: center;
}

.st-block-chooseable__button,
.st-block-controls__button {
    display: inline-block;
    margin: 0.5em;
    border: none;

    font-size: 12px;
    text-transform: uppercase;
    text-transform: uppercase;

    background: transparent;

    cursor: pointer;
}

.st-block-chooseable__button .st-icon,
.st-block-controls__button .st-icon {
    display: block;
    margin: 0 auto 10px;
    width: 42px;
    height: 42px;
}

.st-block-chooseable__button:hover,
.st-block-controls__button:hover {
    color: $accent-color;
}
