.st-chart-area {
    display: block;
}

.st-chart__table {
    overflow-x: auto;

    font-size: 0.875rem;

    th,
    td {
        padding: 0;
    }

    input,
    button {
        border: none;

        background: transparent;

        vertical-align: middle;
    }

    input[type=text] {
        height: 2.5em;
    }

    button {
        width: 100%;
    }
}
