.st-block-replacer {
    z-index: 2;

    display: none;
    outline: none;
    border: none;
    padding: 0;
    width: 1em;
    height: 1em;

    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 50px;

    transform: translate(-50%, -50%);

    background-color: transparent;

    &::-moz-focus-inner {
        margin: 0;
        margin-left: -1px;
        padding: 0;
    }

    .st-block--empty:not(.st-block--controls-active) & {
        display: block;
    }
}

.st-block-replacer__button {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 1em;
    height: 1em;

    position: relative;

    color: $aluminium;

    transition: all $animation-speed ease-in-out;
    transform: translateZ(0);

    cursor: pointer;
}
