$ui-btn-pos-v: 8px;

%st-block-ui-btn {
    @extend .st-icon;

    display: block;

    color: $block-controls-color;
    font-size: 1rem;

    cursor: pointer;
}


%st-block-ui-btn-hover {
    &:hover {
        color: darken($block-controls-color, 20%);
    }
}

.st-block__control-ui {
    display: flex;
    margin-top: 5px;
    padding: 5px;

    background-color: rgba(0, 0, 0, 0.05);

    &.hidden {
        display: none;
    }
}

.st-block-ui__confirm {
    margin: 0 0.1em;
    border: 1px solid $error-color;
    padding: 0.15em 0.4em;

    color: $error-color;
    font-size: 0.9em;

    background: none;

    cursor: pointer;
}

.st-block-ui-btn__reorder {
    @extend %st-block-ui-btn;

    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    transition: background 0.2s ease;

    cursor: move;

    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }
}

.st-block-ui-btn__delete {
    @extend %st-block-ui-btn;
    @extend %st-block-ui-btn-hover;

    position: absolute;
    top: $ui-btn-pos-v;
    right: 0;

    &:hover,
    &:focus {
        color: $error-color;
    }

    .st-block[data-type='quote'] & {
        display: block;
    }
}

.st-block-ui-btn__settings {
    @extend %st-block-ui-btn;
    @extend %st-block-ui-btn-hover;

    position: absolute;
    top: 33px;
    right: 0;
}

.st-block-ui-btn__reorder,
.st-block-ui-btn__delete,
.st-block-ui-btn__settings {
    width: $block-side-width;

    text-align: center;
}

.st-block-control-ui-btn {
    @extend %st-block-ui-btn;
    @extend %st-block-ui-btn-hover;

    font-size: 2rem;
    line-height: 1;

    &:not(:first-child) {
        margin-left: 5px;
    }
}

.st-block__control-ui__item {
    &:not(:last-child) {
        margin-right: 5px;
    }

    &.is-active {
        button {
            background: darken(#ddd, 10%);
        }
    }
}

.st-block--with-errors .st-block-control-ui-btn,
.st-block--delete-active .st-block-control-ui-btn {
    border-color: $error-color;

    color: $error-color;

    &:hover,
    &.active {
        color: #fff;

        background-color: $error-color;
    }
}

.st-block--with-errors {
    z-index: 2;
    opacity: 1;
}

.st-block__delete-label {
    color: $error-color;
}
