.st-icon-drag {
    $dot-space: 7px;

    position: absolute;
    top: 0;
    left: 7px;

    color: $aluminium;
    font-size: 30px;

    text-shadow: $dot-space 0 $aluminium,
    0 $dot-space $aluminium,
    $dot-space $dot-space $aluminium,
    0 $dot-space*2 $aluminium,
    $dot-space $dot-space*2 $aluminium; // Create the handle effet
}
