.st-block__control-ui {
    display: flex;

    background-color: lighten($light-ui-color, 10%);
}

.st-block-ui__confirm {
    margin: 0 0.1em;
    border: 1px solid $error-color;
    padding: 0.15em 0.4em;

    color: $error-color;
    font-size: 0.9em;

    background: none;

    cursor: pointer;
}

%st-block-ui-btn {
    @extend .st-icon;

    display: block;
    width: 1em;
    height: 1em;

    color: $block-controls-color;

    cursor: pointer;
}

.st-block-ui-btn__reorder {
    @extend %st-block-ui-btn;

    position: absolute;
    top: 0.5em;
    right: 2em;

    transform: scaleX(-1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.st-block-ui-btn__delete {
    @extend %st-block-ui-btn;

    position: absolute;
    top: 3em;
    right: 2em;

    &:hover,
    &:focus {
        color: $error-color;
    }

    .st-block--textable &,
    .st-block[data-type='list'] &,
    .st-block {
        display: none;
    }
    .st-block[data-type='quote'] & {
        display: block;
    }
}

.st-block-control-ui-btn {
    @extend %st-block-ui-btn;

    width: 2em;
    height: 1.25em;

    font-size: 1.5em;
    line-height: 1.25em;
}

.st-block--with-errors .st-block-control-ui-btn,
.st-block--delete-active .st-block-control-ui-btn {
    border-color: $error-color;

    color: $error-color;

    &:hover,
    &.active {
        color: #fff;

        background-color: $error-color;
    }
}

.st-block__ui-delete-controls {
    @include ui-popup;

    border-color: $error-color;
    padding: 0.3em 0.5em;

    top: 1.85em;
    right: 4em;

    &:before {
        border-color: $error-color;

        right: -0.3em;
        left: auto;
    }
}

.st-block--with-errors {
    z-index: 2;
    opacity: 1;
}

.st-block__delete-label {
    color: $error-color;
}
