.st-block-replacer {
    z-index: 2;

    display: none;
    outline: none;
    border: none;
    padding: 0;
    width: 1em;
    height: 1em;

    position: absolute;
    top: 0;
    left: $block-spacing-horizontal / 2;

    font-size: $button-addition-size;
    text-align: center;

    transform: translateY(50%);

    background-color: transparent;

    &::-moz-focus-inner {
        margin: 0;
        margin-left: -1px;
        padding: 0;
    }

    .st-block--textable.st-block--empty & {
        display: block;
    }
}

.st-block-replacer__button {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 1em;
    height: 1em;

    position: relative;

    color: $accent-color;

    transition: all $animation-speed ease-in-out;
    transform: translateZ(0);

    cursor: pointer;

    .st-block--controls-active & {
        transform: rotate(45deg);
    }
}
