// Block Controls

.st-block-controls {
    z-index: 1;

    padding: 0 110px;

    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    font-size: 0.8em;

    transform: translateY(-50%);
}

.st-block-controls__buttons {
    text-align: center;
}

.st-block-controls__button {
    display: inline-block;
    margin: 0.5em;
    border: none;

    font-size: 12px;
    text-transform: uppercase;
    text-transform: uppercase;

    background: transparent;

    cursor: pointer;
}

.st-block-controls__button .st-icon {
    display: block;
    margin: 0 auto 10px;
    width: 42px;
    height: 42px;
}

.st-block-controls__button:hover {
    color: $accent-color;
}
