
$animation-speed: 0.2s;

.st--block-limit-reached {
    .st-top-controls,
    .st-block-addition {
        display: none;
    }
}

.st-top-controls {
    z-index: 2;

    position: relative;
}

.st-block-addition {
    z-index: 2;

    display: none;
    outline: none;
    border: none;
    padding: 0;
    width: 100%;

    text-align: center;

    background-color: transparent;

    &::-moz-focus-inner {
        margin: 0;
        margin-left: -1px;
        padding: 0;
    }

    .st-top-controls &,
    .st-block:last-child:not(.st-block--empty):not(.st-block--textable) & {
        display: block;
    }
}

.st-block-addition__button {
    opacity: 0.2;

    display: inline-block;
    box-sizing: border-box;
    margin: 0 auto;
    border: 1px solid transparent;
    padding: 0.2em;
    width: 100%;

    position: relative;

    color: #444;

    transition: all $animation-speed 0.3s ease-in-out;
    transform: translateZ(0);

    cursor: pointer;
    cursor: pointer;

    .st-icon {
        width: 30px;
        height: 30px;

        color: inherit;
    }

    .st-block-addition:hover &,
    .st-block--active & {
        opacity: 1;

        color: $accent-color;
    }
}
