$btn-bg-color: #535558;

.st-block--quiz {
    overflow: hidden;

    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 40px 20px 20px;

    position: relative;
}

.st-block--quiz__title {
    display: block;
    margin: 20px 0;

    font-size: 26px;
}

.st-block--quiz__img {
    text-align: center;
}

.st-block--quiz__edito {
    overflow: hidden;

    border-radius: 0 0 5px 0;
    padding: 6px 10px;

    position: absolute;
    top: 0;
    left: 0;

    color: white;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;

    background-color: $theme-color;
}

.st-block--quiz__link {
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    padding: 10px 0;
    width: 200px;

    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    transition: all 0.3s ease;

    background-color: $btn-bg-color;

    cursor: pointer;

    &:hover {
        background-color: darken($btn-bg-color, 10%);
    }
}
