.st-format-bar {
    visibility: hidden;
    z-index: 10;
    opacity: 0;

    margin: -4.5em 0 0 0;
    border-radius: 0.4em;
    padding: 0;

    position: absolute;
    top: 0;

    transition: opacity 0.2s ease-in-out;

    background: #252525;
}

.st-format-bar:before {
    display: block;
    margin-left: -0.875em;
    border-top: 0.875em solid #252525;
    border-right: 0.875em solid transparent;
    border-left: 0.875em solid transparent;
    width: 0;
    height: 0;
    content: '';

    position: absolute;
    top: 3.3em;
    left: 50%;
}

.st-format-bar--is-ready {
    visibility: visible;
    opacity: 1;
}

.st-format-btn {
    border: 0;
    padding: 0.5em 0.6em;

    color: #fff;
    font-size: 1em;
    line-height: 1;
    text-align: center;

    background: transparent;

    vertical-align: middle;

    &:focus {
        outline: 0;
    }
}
.st-format-btn .st-icon {
    width: 35px;
    height: 35px;
}

.st-format-btn--Heading,
.st-format-btn--Quote {
    border-left: 1px solid #3e4245;
}

.st-format-btn:hover,
.st-format-btn--is-active {
    color: $accent-color;
}

.st-format-btn--Unlink {
    text-decoration: line-through;
}
