$input-box-sizing: border-box;
$input-border: 1px solid #d4d4d4;
$input-border--active: 1px solid #a6aac4;
$input-border-radius: 2px;
$input-width: 11em;
$input-height: 2.5em;
$input-margin: 0;
$input-padding: 0.6em;
$input-color: #42474b;
$input-font-size: inherit;
$input-background: transparent;
$input-align: middle;

// Reset all our input styles
.st-input-label {
    display: block;
    margin-bottom: 0.5em;

    font-size: 13px;
    text-transform: uppercase;
}

// Focus / Active styles
@mixin st-input-active {
    &:active,
    &:focus {
        outline: none;
        border-color: nth($input-border--active, 3);
    }
}

// Generic styles
@mixin st-input {
    @include st-input-active;

    box-sizing: $input-box-sizing;
    border: $input-border;

    color: $input-color;
    font-size: $input-font-size;

    background: $input-background;

    vertical-align: $input-align;
}

[contenteditable='true'] {
    @include st-input-active;

    box-sizing: $input-box-sizing;
    margin: $input-margin;
    padding: 0.2em;
}

input[type='text'],
input[type='number'],
input[type='color'],
textarea,
button {
    @include st-input;

    margin: $input-margin;
    padding: $input-padding;
}

button {
    @include st-input;

    overflow: hidden;

    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;

    cursor: pointer;

    .st-icon {
        width: 1.2em;
        height: 1.2em;

        vertical-align: middle;
    }
}

textarea {
    min-height: calc(1.3em * 5);

    resize: vertical;
}

input[type='text'],
input[type='number'] {
    width: $input-width;
    height: $input-height;
}

input[type='color'] {
    padding: 0.2em;
    width: $input-height;
    height: $input-height;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
}
