$input-box-sizing: border-box;
$input-border-color: rgba(0,0,0,0.2);
$input-border-color--active: rgba(0, 0, 0, 0.4);
$input-border: 1px solid $input-border-color;
$input-border--active: 1px solid $input-border-color--active;
$input-border-radius: 2px;
$input-width: 11em;
$input-height: 2.5em;
$input-margin: 0;
$input-padding: 0.6em;
$input-color: #42474b;
$input-font-size: 0.875rem;
$input-background: rgba(255,255,255,0.7);
$input-align: middle;


// Generic styles
@mixin st-input {
    @include st-input-active;

    box-sizing: $input-box-sizing;
    border: $input-border;

    color: $input-color;
    font-size: $input-font-size;

    vertical-align: $input-align;
}

// Focus / Active styles
@mixin st-input-active {
    transition: all 200ms ease;

    &:active,
    &:focus {
        outline: none;
        border-color: $input-border-color--active;
    }
}

// Reset all our input styles
.st-input-label {
    display: block;
    margin-bottom: 0.5em;

    font-size: 13px;
    text-transform: uppercase;
}

[contenteditable='true'] {
    @include st-input-active;

    box-sizing: $input-box-sizing;
    margin: $input-margin;
    border-color: $input-border-color;
    padding: 0.2em;
}

input[type='text'],
input[type='number'],
input[type='search'],
input[type='color'],
select,
textarea {
    @include st-input;

    margin: $input-margin;
    padding: $input-padding;

    background-color: $input-background;
}

input[type='text'],
input[type='number'],
input[type='search'],
select {
    width: $input-width;
    height: $input-height;
}

input[type='color'] {
    padding: 0;
    width: $input-height;
    height: $input-height;

    cursor: cell;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
}

.st-block textarea {
    width: 100%;
    min-height: $input-height * 5;

    line-height: 1.4;

    resize: vertical;
}

.st-btn {
    @include st-input;

    overflow: hidden;

    margin: $input-margin;
    border-radius: 3px;
    padding: $input-padding;
    min-height: $input-height;

    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;

    background: $blocks-control-border-color;

    cursor: pointer;

    .st-icon {
        width: 1.4em;
        height: 1.4em;

        vertical-align: middle;
    }
}
