$generic-spacing: 10px !default;
$theme-color: #e2001a !default;

@import 'variables';
@import 'icons';

@import 'mixins/scroll-shadow';

@import 'patterns/ui-popup';
@import 'utils';
@import 'base';
@import 'inputs';

@import 'errors';

// Block Controls
@import 'block-ui';
@import 'block-addition';
@import 'block-addition-top';
@import 'block-controls';
@import 'block-replacer';
@import 'block-reorder';
@import 'block-delete';

// Format Bar
@import 'format-bar';

// Scribe Table Plugin
@import 'scribe-table-plugin';

@import 'slider';
@import 'filter-bar';
@import 'sub-block';

@import 'handsontable';

// Helpers
@import 'helpers';

@import 'handsontable/dist/handsontable.full';

// Blocks
@import 'block';
@import 'block-chart';
@import 'block-diaporama';
@import 'block-encard';
@import 'block-heading';
@import 'block-illustrated';
@import 'block-illustrated-image';
@import 'block-image';
@import 'block-quote';
@import 'carousel';

body > svg[width='0'][height='0'] {
    display: none;
}

p:empty {
    display: none;
}

.submit-wrap {
    padding: 15px;

    background: $grey;
}

.st-media-modal {
    .c-modal__content {
        padding: 0 !important;
    }

    .st-slider-controls {
        padding: 10px;
    }

    select {
        width: auto;
    }
}

.c-icon-svg {
    display: inline-block;
    width: 1em;
    height: 1em;

    fill: currentColor;

    .c-icon & {
        height: 100%;
    }

    .c-link-icon--horizontal & {
        float: left;
    }

    &.c-icon__label--icon-middle {
        vertical-align: middle;
    }

    &.u-themed {
        @extend %u-cl-theme--section;
    }
}

.st-text-basic {
    a {
        color: $theme-color;
        text-decoration: none;
    }
}

.st-import-markdown--field {
    margin-bottom: 10px;
}
