@mixin ui-popup {
    z-index: 2;

    display: none;
    border: $default-border;

    position: absolute;

    background: #fff;

    &.active {
        display: block;
    }

    &:after {
        z-index: -1;

        display: block;
        content: '';

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: #fff;
    }

    &:before {
        z-index: -1;

        display: block;
        border: $default-border;
        width: 0.4em;
        height: 0.4em;
        content: '';

        position: absolute;
        top: 50%;
        left: -0.3em;

        transform: translateY(-50%) rotate(45deg);

        background: #fff;
    }
}
